@model AuroritaWebsita.Models.Rootobject

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Rootobject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!-- Cambiado a 'Create' -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreFiesta" class="control-label"></label>
                <input asp-for="nombreFiesta" class="form-control" />
                <span asp-validation-for="nombreFiesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagen" class="control-label"></label>
                <input asp-for="imagen" class="form-control" />
                <span asp-validation-for="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

