@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Agrega un enlace o un botón que redirija a la vista View.cshtml -->
    <a asp-action="View" asp-controller="IngresoFiestas" class="btn btn-primary">Crear una nueva Fiesta</a>

</div>

